* {
  margin: 0;
  padding: 0;
}

.container {
  /* --nav-footer-height: 50px; */
  /* --header-height: calc(2 * var(--nav-footer-height)); */
  text-align: center;
  display: grid;
  /* grid-template-rows: var(--header-height) var(--nav-footer-height) 1fr var(--nav-footer-height); */
  grid-template-columns: 1.5fr 6fr;
  gap: 3px;
}

.container div {
  
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo {
  justify-self: start;
}

.menu {
  align-self: center;
}

.nav ul,
.menu ul {
  font-size: 16px;
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.side-content,
.photo {
  display: grid;
  place-items: center;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.article .card {
  height: 200px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}